:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;  
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
}

/* Site nav */

.site-nav .link {
    color: var(--title-text-color);
    cursor: pointer;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

/* Логотип/Logo */
.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

/* Футер/Footer */

.footer-nav .link {
    color: var(--title-text-color);
    cursor: pointer;
    text-decoration: none;
}

.footer-nav .link:hover,
.footer-nav .link:focus {
    color: var(--accent-color);
}

